<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="{% url 'slist' %}"><button>Back</button></a>
    <form action="" method="post">
        {% csrf_token %}

        {{form}}

        <button type="submit">

            {% if not object.pk %}
            save
            {% else %}

            update
            {% endif %}


        </button>



    </form>
</body>
</html>